- provide(:title, "Alle Benutzer")
%h1 Benutzerliste
%table
  %tr
    %th ID
    %th Name
    %th Email
    %th
  -@users.each do |user|
    %tr
      %td= user.id
      %td= link_to user.name, user_path(user.id)
      %td= user.email
      %td
        = link_to "bearbeiten", edit_user_path(user.id)
