%h2= link_to "Meine heutigen Schmerzeinträge", pain_entries_path
%table.table.table_striped
  %thead
    %tr
      %th Beschreibung
      %th
  %tbody
    - current_user.pain_entries.where("created_at >= ?", Time.now.beginning_of_day).each do |pain_entry|
      -if pain_entry.updated_at.to_date == Date.today
        %tr  
          %td=link_to pain_description(pain_entry), pain_entry_path(pain_entry)
          %td=link_to t(:edit), edit_pain_entry_path(pain_entry)