.left-nav
  %ul.nav.nav-pills.nav-stacked
    %li{ :class => params[:controller] == "users" ?  'active' : "" }= link_to "Dein Tag", user_path(current_user)        
    %li
      = link_to "Deine Woche"
    %li
      = link_to "Dein Monat"
    %li
      = link_to "Dein Jahr"
      
    =params[:controller]