@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayDark: #a6a6a6;
$blue: #0088cc;

/* universal */

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  overflow-y: scroll;
}
body {
  padding-top: 0px;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: $grayLight;
  font-weight: normal;
  &.form {
    background-color: $blue;
  }
  &.day, &.week, &.form {
    margin: 2px 0px 0px 0px;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 0px 4px;
    text-align: center;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  } 
}

h2 {
  font-size: 1.3em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  font-weight: normal;
  color: $grayDark;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin-bottom: 30px;
}

dd {
  padding: 4px 0px;
  font-size: .9em;
  line-height: 1.2em;
}

/* buttons */

.btn {
  background-image: none;
}
.new-entry {
  margin-bottom: 10px;
}

form {
  padding-top: 10px;
  .fieldset{
    border-top: 1px solid white;
    clear: both;
    .field{
      float: left;
      width: 70%;
      padding: 10px;
    }
    .label-field{
      width: 30%;
    }
    .number-field{
      height: 100%;
    }
  }
  select {
    float: left;
    margin-right: 10px;
  }
  .btn-group {
    display: block;
    padding: 10px 0 0 5px;
    .btn-back {
      width: 200px;
    }
  }
  .date_select {
    textarea {
      width: 200px;
    }
  }
  label {
     text-transform: uppercase;
  }
  #pain_entry_date_1i{ width: 90px; }
  #pain_entry_date_3i{ width: 60px; }
  #pain_entry_date_2i{ width: 110px; }
  #therapy_entry_date_1i{ width: 90px; }
  #therapy_entry_date_3i{ width: 60px; }
  #therapy_entry_date_2i{ width: 110px;}
  
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  padding-top: 9px;
  line-height: 1;
  a {
    color: #000;
    font-weight: bold;
  }
}

#logo:hover a{
  color: #666666;
  text-decoration: none;
}

/* lists */

dl {
  display: block;
  float: left;
}


/* table */
table {
  width: 100%;
  td.center, th.center{
    text-align: center;
  }
}
td.actions {
  padding-right: 0;
}

/* footer */

footer {
  clear: both;
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* wells */
.greybox, .week-box{
  border: solid 1px #ddd;
  background: #f9f9f9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0px 10px 0px;
  margin-bottom: 20px;
}
.week-box {
  min-height: 200px;
  padding-bottom: 0px;
}
.no-header-box {
  border-radius: 5px;
}


@media (min-width: 980px) {
  body {  
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  form{
    .fieldset{
      .field, .label-field{
        clear:both;
        width: 100%;
      }
    }
  }
}
@media (max-width: 480px) {
  .week-box {
    min-height: 0px;
  }
}