@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayDark: #a6a6a6;
$blue: #0088cc;

/* universal */

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  overflow-y: scroll;
}
body {
  padding-top: 0px;
}

textarea {
  resize: vertical;
}

dd {
  padding: 4px 0px;
  font-size: .9em;
  line-height: 1.2em;
}

/* buttons */

.btn {
  background-image: none;
}
.new-entry {
  margin-bottom: 10px;
}

/* table */
table {
  width: 100%;
  td.center, th.center{
    text-align: center;
  }
}
td.actions {
  padding-right: 0;
}


/**************************/
/*     MEDIA QUERIES      */
/*************************/


@media (min-width: 980px) {
  body {  
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  .day-field {
  
  }
  form{
    .fieldset{
      .field, .label-field{
        clear:both;
        width: 100%;
      }
    }
  }
}
@media (max-width: 480px) {
  .week-box {
    min-height: 0px;
  }
}
