- provide(:title, "Dein Monat, #{current_user.name}!")
.row
  .span9
    %h1.month= "Monatsübersicht #{month_year_from_numbers params[:month], params[:year]}"
.row
  .span9.greybox
    #month-pain-chart
    %script{ type: "text/javascript" }
      $("#month-pain-chart").monthPainChart()
.navbar
  .navbar-inner
    %ul.nav
      %li=link_to "Schmerz"
      %li.divider-vertical
      %li=link_to "Behandlung"
      %li.divider-vertical
      %li=link_to "Gewicht"
      %li.divider-vertical
      %li=link_to "Stimmung"
