- provide(:title, "Dein Monat, #{current_user.name}!")
.row
  .span9
    %h1.month= "Monatsübersicht #{month_year_from_numbers params[:month], params[:year]}"
.row
  .span9.greybox
    #month-pain-chart
    %script{ type: "text/javascript" }
      $("#month-pain-chart").monthPainChart()
