%footer.footer
  %small
    copyright 2013
  %ul.nav.nav-pills
    %li
      = link_to '#' do
        %i.icon-info-sign
        About
    %li
      = link_to '#' do
        %i.icon-envelope
        Contact
    %li
      = link_to '#' do
        %i.icon-question-sign
        Help
          
