%footer.footer
  %small
    copyright 2013
  %nav
    .btn-group.pull-right
      .btn= link_to "About",   '#'
      .btn
        = link_to '#' do
          %i.icon-envelope
      .btn
        = link_to '#' do
          %i.icon-question-sign
          
